<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/debug.addIndicators.js"></script>
    <script src="/client.js"></script>

  </head>
  <body>
    <header>
      
    </header>

    <main>
      
      <section class="panel one">
        <div class="outer">
          <div id="name">
            
        </div>         
        </div>
        <div class="outer">
         <div class="text">
            <h3>
            Who is the amazing Spider-Man really?
          </h3>
          </div> 
        </div>
                     

       
      </section>
      <section class="panel two">
        
        <div class="outer">
         <div class="text">
            <h2 class="white">
            Origin of a Hero
          </h2>
           <div class="white" id="content">
          
        </div>
          </div> 
          
        <svg>
        <style type="text/css">
        </style>
        <g>
          <polygon class="st0" points="37.95,30.53 45.89,25.15 45.21,26.43 47.31,11.7 47.37,12.02 44.19,3.24 48.63,11.46 48.69,11.56 
            48.69,11.79 48.79,26.67 48.79,27.33 48.11,27.96 41.05,34.45 	"/>
          <polygon class="st0" points="40.03,34.25 54.91,29.66 54.19,30.39 60.79,16.08 56.56,31.26 56.43,31.7 55.84,31.99 41.88,38.9 	"/>
          <polygon class="st0" points="41.65,39.25 56.37,39.4 57.32,39.41 57.7,40.05 66.28,54.35 66.35,54.46 66.35,54.54 66.54,60.41 
            65.57,54.61 65.63,54.8 55.22,41.77 56.54,42.42 41.93,44.24 	"/>
          <polygon class="st0" points="43.07,44.07 50.14,51.81 50.66,52.37 50.65,52.87 50.56,63.86 50.56,64.24 50.35,64.41 43.96,69.49 
            49.4,63.41 49.19,63.96 47.43,53.12 47.95,54.18 39.68,47.74 	"/>
          <polygon class="st0" points="25.49,34.45 18.43,27.96 17.75,27.33 17.75,26.67 17.85,11.79 17.85,11.56 17.91,11.46 22.35,3.24 
            19.17,12.02 19.23,11.7 21.33,26.43 20.65,25.15 28.59,30.53 	"/>
          <polygon class="st0" points="24.66,38.9 10.7,31.99 10.11,31.7 9.99,31.26 5.75,16.08 12.35,30.39 11.63,29.66 26.51,34.25 	"/>
          <polygon class="st0" points="24.61,44.24 10,42.42 11.33,41.77 0.91,54.8 0.98,54.61 0,60.41 0.19,54.54 0.19,54.46 0.26,54.35 
            8.84,40.05 9.22,39.41 10.17,39.4 24.89,39.25 	"/>
          <polygon class="st0" points="26.86,47.74 18.6,54.18 19.11,53.12 17.35,63.96 17.14,63.41 22.58,69.49 16.19,64.41 15.98,64.24 
            15.98,63.86 15.89,52.87 15.88,52.37 16.4,51.81 23.47,44.07 	"/>
          <path class="st0" d="M29.85,21.56c0,0-1.68-2.61-0.84-5.09c0,0,1.2,3.41,4.01,4.29L29.85,21.56z"/>
          <path class="st0" d="M35.79,21.56c0,0,1.68-2.61,0.84-5.09c0,0-1.2,3.41-4.01,4.29L35.79,21.56z"/>
          <path class="st0" d="M38.46,22.91c0,1.67-2.41,3.03-5.38,3.03c-2.97,0-5.38-1.36-5.38-3.03c0-1.67,2.41-3.03,5.38-3.03
            C36.05,19.88,38.46,21.23,38.46,22.91z"/>
          <path class="st0" d="M43.79,43.07c0,9.77-10.71,17.7-10.71,17.7s-10.71-7.92-10.71-17.7s4.79-17.7,10.71-17.7
            C39,25.38,43.79,33.3,43.79,43.07z"/>
          <path class="st0" d="M41.13,26.99c0,2.14-3.6,3.88-8.04,3.88s-8.04-1.74-8.04-3.88c0-2.14,3.6-3.88,8.04-3.88
            S41.13,24.85,41.13,26.99z"/>
        </g>
        </svg>

        </div>
         
      </section>
      <section class="panel three">
        <div class="outer">
          <h2>Appearances In Comics</h2>
        </div>
        <div class="chart">
        <canvas id="myChart"></canvas>
          
        </div>

      </section>
      
    </main>

    
    <script src="https://button.glitch.me/button.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>

  </body>
</html>
